@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* -------------- Variables -------------- */

:root {
  --orange: #fa7505;
  --white: #ffffff;
  --grey: #d8d7d7;
  --darkGrey: #292929;
  --darkGreyNeon: #292929;
}

/* -------------- General -------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url('../img/background.jpg');
  background-attachment: fixed;
  color: var(--grey);
  height: 100%;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mt20 {
  margin-top: 20px;
}
.taCenter {
  text-align: center;
}

.taRight {
  text-align: right;
}

.taLeft {
  text-align: left;
}

.taJustify {
  text-align: justify;
}
.br10 {
  border-radius: 10px;
}

.dFlex {
  display: flex;
}

.fEnd {
  justify-self: 'flex-end';
}

.naranja {
  color: var(--orange);
}
.w100 {
  width: 100%;
}

.filterg100 {
  filter: grayscale(100%);
}
.filterg100b40 {
  filter: grayscale(100%) brightness(40%);
}

.filterBlack {
  background: rgba(0, 0, 0, 0.3);
  padding: 30px;
}

.font14 {
  font-size: 14px;
}
#logo {
  width: 80px;
  height: 80px;
}

#logoBurger,
#burgerMenuIcon,
.modalText::-webkit-scrollbar {
  display: none;
}

#navbar {
  display: grid;
  grid-template-columns: 480px 1fr;
  background-color: var(--darkGrey);
  color: var(--grey);
  width: 100%;
  padding: 0 10%;
  height: 100px;
}

#menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
  align-items: center;
  text-align: center;
}

#logoNav {
  text-align: center;
}

#loginNav {
  display: grid;
  align-items: center;
  justify-content: flex-end;
}

#burgerMenuIcon:hover {
  color: var(--orange);
}

.burgerMenu {
  color: #fff;
  position: absolute;
  top: 100px;
  width: 100%;
  height: 100vh;
  z-index: 99999;
  opacity: 1;
  pointer-events: auto;
  padding: 0px;
  transition: all 0.5s ease;
  background: rgba(0, 0, 0, 0.8);
}

.dNone {
  opacity: 0;
  display: none;
}

.blockBurgerMenu {
  height: 100%;
  position: flex;
  font-size: 16px;
  text-align: left;
  margin: 0px;
  padding: 1% 6%;
  background-color: var(--darkGrey);
  width: 40%;
}

.boxIcon {
  height: auto;
  width: 25px;
}
.linksBurgerMenu {
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
}

.buttonSmall {
  border: 1.5px solid var(--grey);
  padding: 10px;
  transition: background-color 0.5s ease;
  cursor: pointer;
  min-width: 110px;
  background-color: var(--darkGrey);
  color: var(--grey);
  text-align: center;
}
.buttonSmall:hover {
  background-color: var(--orange);
}

#footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  background-color: var(--darkGrey);
  width: 100%;
}

.mainContainer {
  padding: 2% 10%;
  height: 100%;
}

.mainContainerLogin {
  padding: 5% 10%;
  height: 100%;
}

.links {
  text-decoration: none;
  color: var(--grey);
  transition: color 0.5s ease;
}

.links:hover {
  color: var(--orange);
}

.links:visited {
  text-decoration: none;
}

.iconSocialContainer {
  text-align: center;
  padding: 30px;
}

.iconSocial {
  font-size: 40px;
  margin: 0px 12px;
}

#upIcon {
  z-index: 999;
  position: fixed;
  font-size: 50px;
  bottom: 5%;
  right: 4%;
  color: var(--orange);
}

#upIcon:hover {
  color: var(--white);
}
/* -------------- Home -------------- */

#bannerBlock {
  background-image: url('../img/banner.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 20px;
}

.cardBlock {
  background-color: #d8d7d71c;
  border-radius: 10px;
  backdrop-filter: blur(3px) brightness(40%);
  text-align: center;
  height: 100%;
}

.descriptionGyHome {
  padding: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  height: 230px;
}

.imgGym {
  width: 100%;
  height: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  filter: grayscale(100%) brightness(80%);
  transition: filter 1s ease;
}

.cardBlock:hover .imgGym {
  filter: grayscale(0%) brightness(100%);
}

.imgEjercicio {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  filter: grayscale(100%) brightness(70%);
  transition: filter 1s ease;
}

.cardBlock:hover .imgEjercicio {
  filter: grayscale(0%) brightness(100%);
}

.imgEjercicio:hover {
  filter: grayscale(0%) brightness(100%);
}

#desayuno {
  background-image: url('../img/desayuno.jpg');
}

#almuerzo {
  background-image: url('../img/almuerzo.jpg');
}

#cena {
  background-image: url('../img/cena.jpg');
}

.blockImgNutri {
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
}
.blockNutri {
  background-color: #d8d7d71c;
  backdrop-filter: blur(2px) grayscale(80%) brightness(40%);
  width: 100%;
  height: 100%;
}
.blockNutri:hover {
  backdrop-filter: blur(0px) brightness(50%);
}

.textLeft {
  padding: 5% 50% 5% 5%;
}

.textRight {
  padding: 5% 5% 5% 50%;
}
.filterBanner {
  width: 100%;
  height: 100%;
  padding: 5% 10%;
  background: rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.gymNameHome {
  margin-bottom: 15px;
  text-align: center;
  color: var(--orange);
  font-size: 18px;
  font-weight: 600;
}
.subtitleHome {
  font-size: 35px;
  margin-bottom: 15px;
  color: var(--orange);
}
.modalEjercicio {
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  padding: 50px 5% 5% 5%;
  transition: all 0.5s ease;
}

.modalEjercicio:target {
  opacity: 1;
  pointer-events: auto;
}

.modalText {
  height: 100%;
  position: relative;
  text-align: left;
  margin: 0px auto;
  padding: 50px 70px;
  background-color: var(--darkGrey);
  overflow-y: scroll;
  width: 60%;
}

.bullet {
  color: var(--orange);
}

.closeButton {
  background: var(--darkGrey);
  color: var(--grey);
  position: fixed;
  right: 25%;
  top: 100px;
  border-radius: 12px;
  box-shadow: 1px 1px 3px #000;
  border: 0;
  cursor: pointer;
  font-size: 25px;
  z-index: 9999;
}

.closeButton:hover {
  color: var(--orange);
}

.boxSaberMas {
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
  background: rgba(250, 117, 5, 0.6);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: font-size ease 0.5s;
}

.cardBlock:hover .boxSaberMas {
  font-size: 20px;
}

.textSaberMas {
  width: 100%;
  color: white;
  padding: 8px;
  font-weight: 600;
}

.tituloEjercicio {
  color: var(--white);
  font-size: 20px;
  font-weight: 600;
}

.tipoEjercicioBox {
  position: absolute;
  bottom: 20%;
  text-align: center;
  width: 100%;
}

.boxEjerciciosModal {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 20px;
  row-gap: 45px;
}

.linkHome {
  background-color: transparent;
  color: var(--orange);
  text-decoration: none;
  font-weight: 600;
}

.linkHome:hover {
  font-weight: 800;
}

.iconHome {
  font-size: 30px;
  color: var(--orange);
}

.logoHome {
  width: 65%;
}

.textHome {
  font-size: 18px;
}

.boxIconHome {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  text-align: center;
}
/* -------------- Contacto -------------- */

.titleContacto {
  font-size: 60px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

.blockDatos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  margin-bottom: 20px;
  column-gap: 30px;
}

.datos {
  width: 100%;
  height: 40px;
  padding: 15px;
  border: 0;
  outline: none;
  background-color: transparent;
  color: var(--white);
  border-bottom: 1.5px solid var(--grey);
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}
.datos:focus {
  border-bottom: 2.5px solid var(--orange);
}

.datos:focus::placeholder {
  color: var(--orange);
}

::placeholder {
  color: var(--grey);
  font-size: 14px;
  opacity: 1;
  font-family: 'Roboto', sans-serif;
}

.consulta {
  margin-top: 25px;
  border-radius: 10px;
  width: 100%;
  padding: 15px;
  outline: none;
  background-color: transparent;
  color: var(--white);
  border: 1.5px solid var(--grey);
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.consulta:focus {
  border: 2.5px solid var(--orange);
}

.consulta:focus::placeholder {
  color: var(--orange);
}

#contactoContainer {
  display: grid;
  width: 100%;
  padding: 50px 5%;
  background-color: #d8d7d71c;
  border-radius: 10px;
  margin: auto;
  backdrop-filter: blur(10px);
  border: 2px solid var(--darkGrey);
}
/* -------------- Login -------------- */

#imgLogin {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  justify-self: center;
  align-self: center;
}

#loginBlock {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  border-radius: 10px;
  background-color: var(--darkGrey);
  box-shadow: var(--darkGrey) 1px 1px 20px, black -10px 10px 20px,
    black 1px -1px 20px;
  margin: 0 auto;
}

#botonLogin {
  border-radius: 10px;
  padding: 10px;
  width: 70%;
  font-size: 16px;
  transition: background-color 0.5s ease;
  border: 0;
  background-color: var(--orange);
  color: var(--grey);
  cursor: pointer;
  font-weight: bold;
}

#botonLogin:hover {
  background-color: #fa7505af;
}

.iconLogin {
  font-size: 25px;
  align-self: center;
  margin-right: 15px;
  color: var(--orange);
}

.loginSocialBlock {
  text-align: center;
}
.iconLoginSocial {
  color: var(--grey);
  font-size: 18px;
}

.fb {
  background-color: #3e5b95;
}

.tw {
  background-color: #5aabec;
}

.gm {
  background-color: #de4c3b;
}

.fb:hover {
  background-color: #3e5b95af;
}

.tw:hover {
  background-color: #5aabecaf;
}

.gm:hover {
  background-color: #de4c3baf;
}
.othersLoginButton {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 16px;
  border: 0;
  transition: background-color 0.5s ease;
  color: var(--orange);
  cursor: pointer;
  width: 70%;
  text-align: left;
}

.textOtherLogin {
  color: var(--grey);
  vertical-align: middle;
}

.forgotPassBlock {
  display: flex;
  justify-content: space-between;
}

.forgotPassText {
  font-weight: 600;
  margin-left: 40px;
  text-align: left;
  font-size: 14px;
}

.newAccountText {
  font-weight: 600;
  text-decoration-line: underline;
  font-size: 14px;
}

/* -------------- Media Queries -------------- */

@media (max-width: 576px) {
  .titleContacto {
    font-size: 40px;
  }
  .blockDatos {
    grid-template-columns: 1fr;
    margin-bottom: 0px;
  }
  .datos,
  .consulta {
    margin-bottom: 15px;
  }

  #contactoContainer {
    padding: 30px 5%;
  }

  #footer {
    grid-template-columns: 1fr;
  }
  #navbar {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    align-items: center;
  }
  .card {
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    column-gap: 2px;
  }

  .descriptionGyHome {
    height: auto;
    padding: 5px;
  }
  .gymNameHome {
    margin-bottom: 0px;
    font-size: 14px;
  }
  .buttonSmall {
    min-width: 90px;
  }
  .subtitleHome {
    font-size: 20px;
  }
  #upIcon {
    font-size: 25px;
    right: 2%;
  }
  .tituloEjercicio,
  .boxSaberMas {
    font-size: 10px;
  }
  .textSaberMas {
    padding: 2px;
  }

  .cardBlock:hover .boxSaberMas {
    font-size: 12px;
  }
  .textRight,
  .textLeft {
    padding: 5%;
  }

  #imgLogin,
  .infoGymHome,
  #menu,
  #loginNav {
    display: none;
  }

  #burgerMenuIcon {
    display: flex;
    justify-content: flex-start;
    font-size: 40px;
  }
  #logoBurger {
    display: grid;
    justify-self: flex-end;
  }
  .closeButton {
    font-size: 20px;
    right: 15%;
  }
  .modalText {
    width: 90%;
  }
  .textHome {
    font-size: 12px;
  }
  .othersLoginButton {
    font-size: 12px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .titleContacto {
    font-size: 40px;
  }
  .blockDatos {
    grid-template-columns: 1fr;
    margin-bottom: 0px;
  }
  .datos,
  .consulta {
    margin-bottom: 15px;
  }

  #contactoContainer {
    padding: 30px 5%;
  }
  #footer {
    grid-template-columns: 1fr;
  }
  #imgLogin,
  #loginNav,
  #menu,
  .infoGymHome {
    display: none;
  }
  #navbar {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    align-items: center;
  }
  .card {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    column-gap: 5px;
  }

  .descriptionGyHome {
    height: auto;
  }
  .gymNameHome {
    margin-bottom: 0px;
  }
  #upIcon {
    font-size: 40px;
    right: 2%;
  }
  .tituloEjercicio {
    font-size: 14px;
  }
  .textSaberMas {
    padding: 3px;
  }
  .boxSaberMas,
  .cardBlock:hover .boxSaberMas {
    font-size: 16px;
  }

  #burgerMenuIcon {
    display: flex;
    justify-content: flex-start;
    font-size: 40px;
  }
  #logoBurger {
    display: grid;
    justify-self: flex-end;
  }
  .closeButton {
    font-size: 20px;
    right: 18%;
  }
  .modalText {
    width: 80%;
  }
  .textHome {
    font-size: 14px;
  }
  .textRight,
  .textLeft {
    padding: 5%;
  }
  .othersLoginButton {
    font-size: 12px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .blockDatos {
    grid-template-columns: 1fr;
    margin-bottom: 0px;
  }
  .datos,
  .consulta {
    margin-bottom: 15px;
  }

  #imgLogin {
    display: none;
  }

  .card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    column-gap: 10px;
  }
  .descriptionGyHome {
    padding: 10px;
    height: 270px;
  }
  #upIcon {
    right: 2.5%;
  }
  .tituloEjercicio {
    font-size: 14px;
  }
  .textSaberMas {
    padding: 4px;
  }
  .burgerMenu {
    display: none;
  }
  .closeButton {
    font-size: 20px;
    right: 18%;
  }
  .modalText {
    width: 80%;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .datos {
    font-size: 14px;
  }

  .card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 15px;
  }
  .descriptionGyHome {
    padding: 15px;
  }
  .burgerMenu {
    display: none;
  }
}

@media (min-width: 1201px) and (max-width: 1400px) {
  .datos {
    font-size: 14px;
  }
  .burgerMenu {
    display: none;
  }
}
